
.product{
    padding:150px 0;
}

.product,
.all-products,
.product-item{
    font-family: 'Barlow Condensed', sans-serif;
}

.count-products{
    background:#eee;
    margin-bottom: 50px;
    padding:20px 0;
    font-size: 1.1rem;
    color:#062a33;
    font-weight: bold;
    padding-left: 5%;
    word-spacing:3px;
}

.main-title , .product-list{
    text-align: center;
    margin-bottom: 75px;
}

.main-title h2{
    font-size: 3rem;
    font-weight: bold;
}

.main-title p{
    font-size: 1.5rem;
    margin: 20px auto;
    width: 80%;
}

.product-list li{
    font-size: 1.5rem;
    display:inline-block;
    list-style-type: none;
    cursor: pointer;
}

.product-list li:not(:first-child){
    margin-left: 20px;
}

.product-list li:hover,
.product-list li.active{
    color:#062a33;
    font-weight: bold;
}

.product-item{
    margin-bottom: 30px;
}

.product-img{
    cursor: pointer;
    background:#f1f1f1;
    position: relative;
    overflow: hidden;
}


.product-img button{         /*??????????????*/
    position:absolute;
    bottom: 8%;
    border: 1px solid #062a33;
    color:#062a33;
    font-weight: bold;
    background:white;
    width: 100px;
    height:40px;
    line-height: 30px;
    border-radius: 10px;
    display: none;
    left:33%;
    transform:translateX(-50%);
}

.product-img button:hover{
    background:#062a33;
    color:white;
}

.product-img:hover img{
    transform:rotate(10deg);
}

.product-img ul{
    position:absolute;
    top: 15px;
    right: 25px;
    padding-left: 0;
}

.product-img .product-icon{
    background:white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.product-icon:nth-child(2),
.product-icon:nth-child(3){
    display: none;
}

.product-img:hover .product-icon:nth-child(2),
.product-img:hover .product-icon:nth-child(3),
.product-img:hover  button{
    display: block;
}

.product-img ul li:nth-child(2){
    margin:5px 0;
}

.product-icon i{
    color:black;
}

.product-icon:hover{
    background:#062a33;
}

.product-icon:hover i{
    color:white;
}

.product-title{
    text-align: center;
    margin: 20px auto 0;
    color: #062a33;
    font-size: 1.2rem;
    padding: 0 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.product-title a{
    font-weight: bold;
    color:#062a33;
    margin-bottom: 10px;
}

.product-title a:hover{
    color:#437c8a;
}

.media{
    margin-top: 50px;
}

.media-content.row{
    flex-wrap: nowrap;
}

.media-item{
    position: relative;
    color: black;
    cursor: pointer;
}

.media-item h3{
    font-size: 2rem;
}

.media-item p{
    font-size: 1.2rem;
}

.media-item:hover{
    color: #437c8a;
}

.media-title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}


.modal-header{
    position: absolute;
    right: -5px;
    top: -19px;
    display: block !important;
    border-bottom: none !important;
    padding:0 !important;
}

.modal-header .btn-close{
    background: none !important;
    opacity: 1 !important;
    background-color: #062a33 !important;
    padding: 0 !important;
    width:25px;
    height:25px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.modal-header .btn-close:focus{
    box-shadow: none;
}

.modal-header .btn-close::after,
.modal-header .btn-close::before{
    position:absolute;
    content: '';
    width: 15px;
    left: 5px;
    top: 11px;
    height: 3px;
    background:white;
    transition: transform .5s;
}

.modal-header .btn-close::after{
    transform:rotate(45deg);
}

.modal-header .btn-close::before{
    transform:rotate(-45deg);
}

.modal-header .btn-close:hover::after{
    height: 2px;
    transform:rotate(0deg)
}

.modal-header .btn-close:hover::before{
    height: 2px;
    transform:rotate(0deg)
}

.modal-content .modal-body{
    padding: 2rem;
}

.product-item .modal-body{
    margin:75px 0;
}

.modal-info{
    font-family: 'Barlow Condensed', sans-serif;
    color:#062a33;
    margin-left: 30px;
    letter-spacing:.3px;
    text-transform: capitalize;
    align-self: center;
}

.modal-info h3{
    font-weight: 600;
}

.modal-info p{
    font-size: 1.1rem;
}

.modal-info h4{
    margin:20px 0;
    font-weight: bold;
}

.modal-info form{
    margin-top: 50px;
    text-align: center;
}

.modal-info form  button:first-child,
.modal-info form button:nth-child(3){
    width:50px;
    font-weight: bold;
    border:1px solid #062a33;
    background:none;
    color:#062a33;
    font-size:1.2rem;
}

.modal-info form  button:first-child:hover,
.modal-info form  button:nth-child(3):hover{
    background:#062a33;
    color: white;
}

.modal-info form span{
    display:inline-block;
    margin:0 10px;
    font-weight: bold;
    border-top:1px solid #062a33;
    border-bottom:1px solid #062a33;
    width:30px;
    text-align: center;
    font-size: 1.2rem;
}

.modal-info form button:last-child{
    margin-left: 30px;
    width:120px;
    font-size: 1.2rem;
    border:1px solid #062a33;
    background:#062a33;
    color: white;
    padding:5px;
}

.modal-info form button:last-child:hover{
    background:unset;
    color:#062a33;
    font-weight: bold;
}



.product-item .modal-info .modal-icon{
    margin: 30px 0;
}

.modal-info .modal-social span,
.modal-info .modal-social a{
    margin-right: 10px;
}

.modal-info .modal-icon a:first-child{
    margin-right: 20px;
}

.product-item .modal-info form{
    text-align: left;
}

.product-item .modal-info .modal-social{
    padding-left: 0;
}

/*Media Screen*/
@media (max-width:576px) {
    .product{
        padding:50px 0;
    }

    .product-item{
        width: 80%;
        margin: auto;
    }

    .product-title{
        font-size: 1rem;
    }

    .main-title h2{
        font-size: 2.5rem;
    }

    .main-title p{
        font-size: 1.1rem;
    }

    .main-title , .product-list{
        margin-bottom: 30px;
    }

    .product-list{
        padding-left: 0;
    }

    .product-list li{
        font-size: 1.2rem;
    }

    .product-list li:not(:first-child){
        margin-left: 10px;
    }

    .media-item h3{
        font-size: 1.5rem;
    }
    
    .media-item p{
        font-size: 1rem;
    }

    .modal-header{
        right: 15px;
        top: 0;
    }
    
    .modal-content .modal-info h3{
        font-size: 1.2rem;
    }
    
    .modal-content .modal-info p{
        font-size: 1rem;
    }
    
    .modal-content .modal-info h4{
        margin: 10px 0;
        font-weight: bold;
    }
    
    .modal-content .modal-info form button:last-child{
        margin: 20px auto 0;
        display: block
    }

    .product-img:hover .product-icon:nth-child(2),
    .product-img:hover .product-icon:nth-child(3),
    .product-icon:nth-child(1){
        display: inline-block;
    }
    
    .product-img .product-icon{
        width: 26px;
        height: 26px;
        line-height: 26px;
    }

    .product-img ul{
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        text-align: center;
        top: 5px;
    }

    .product-img ul li:nth-child(2){
        margin:0 5px;
    }

    .product-img button{
        font-size: 12px;
        width:70px;
        height:30px;
        line-height:25px;
    }
}

@media (max-width:992px) {
    .media-content.row{
        display: block;
    }

    .media-item{
        text-align: center;
        display: block;
    }

    .media-item:first-child{
        margin-bottom: 30px;
    }

    .modal-content .modal-img img{
        width: 70%;
        display: block;
        margin:auto
    }
    
    .modal-content .modal-info{
        margin: 0 10px;
        margin-top: 30px;
    }
}

