.about-us{
    font-family: 'Barlow Condensed', sans-serif;
}

.caption{
    background:#f4f5f8;
    padding:75px 0;
    text-align: center;
}

.caption h2{
    margin-bottom: 20px;
    font-size: 3.5rem;
    font-weight: bold;
}

.caption a , .caption span{
    font-size: 1.3rem;
}

.caption a:nth-child(2){
    color: black;
}

.caption a:nth-child(2):hover{
    color:#437c8a;
}

.caption span:nth-child(3){
    margin: 0 15px;
}

.caption a:last-child{
    cursor: default;
    color:#437c8a;
}

.about-us-content >p{
    font-size:2rem;
    padding: 50px;
}

.about-us-items{
    padding: 0 20px;
}

.about-us-info{
    margin:75px 0 100px 50px;
}

.about-us-info h2{
    font-size:2rem;
    margin-bottom:30px;
    font-weight: bold;
}

.about-us-info p{
    font-size: 1.2rem;
}

/*Mdia Screen*/
@media (max-width:567px) {
    .caption{
        padding:30px 0;
    }

    .caption h2{
        font-size: 2.5rem;
    }

    .about-us-content >p{
        font-size: 1.2rem;
        padding: 20px 0 0 20px;
        margin-bottom: 30px;
    }

    .about-us-items div{
        margin-bottom: 30px;
    }

    .about-us-items{
        padding: 0 20px;
    }
    
    .about-us-info{
        margin: 20px 0 0;
    } 

    .about-us-info h2{
        margin-bottom:10px;
    }
}

@media (min-width:568px) and (max-width:991px) {
    .about-us-content >p{
        font-size: 1.2rem;
        padding: 0 0 0 20px;
        margin-bottom: 30px;
    }

    .about-us-items div{
        margin-bottom: 30px;
    }

    .about-us-items{
        padding: 0 20px;
    }
    
    .about-us-info{
        margin: 20px 0 0;
    } 

    .about-us-info h2{
        margin-bottom:10px;
    }
}