.contact{
    font-family: 'Barlow Condensed', sans-serif;
}

.contact-content{
    padding:75px 0;
    color: #062a33;
}

.contact-form h2 , .contact-info h2{
    position: relative;
    margin-bottom: 50px;
    font-weight: bold;
}

.contact-form h2::before , .contact-info h2::before{
    position:absolute;
    content:"";
    width:50px;
    height:2px;
    background:#062a33;
    bottom: -10px;
}

.contact-form form label{
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form form input{
    width:100%;
    height:40px;
    padding-left: 15px;
    border: 1px solid #437c8a5c;
    outline:0;
}

.contact-form form textarea{
    margin:30px 0;
    display:block;
    width:100%;
    padding-left: 15px;
    height: 150px;
    border: 1px solid #437c8a5c;
    outline:0;
}

.contact-form form button{
    width:180px;
    height:45px;
    font-size:1.2rem;
    background:#437c8a;
    border: none;
    color: white;
}

.contact-form form button:hover{
    background:unset;
    border:1px solid #437c8a;
    color: #437c8a;
}

.contact-info.col-12{
    padding-left: 50px ;
}

.contact-info p:nth-child(2){
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.contact-info h5{
    font-weight: bold;
}

.contact-info p{
    font-size:1rem;
    font-style: italic;
    word-spacing:.6px;
    margin: 0;
}

.address,.number,.email{
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
}

.contact-info i{
    position:absolute;
    top:14px;
    left:0;
    color:#437c8a
}

/*Media Screen*/

@media (max-width:500px) {
    .contact-form div{
        display:block
    }

    .contact-form div .form-item:nth-child(1){
        margin-bottom: 20px;
    }
}

@media (max-width:767px) {
    .contact-content{
        padding:30px 0;
    }

    .contact-info.col-12{
        padding-left:  10px ;
        margin-top: 50px;
    }

    .contact-form h2 , .contact-info h2{
        margin-bottom: 40px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .contact-form form .form-item{
        margin-bottom:30px
    }
}