li{
    list-style-type: none;
}

.footer{
    background:#2f333a;
    padding:75px 0;
    font-family: 'Barlow Condensed', sans-serif;
}

.footer-content h3{
    margin-bottom: 30px;
}

.footer-about{
    font-size: 1.1rem;
    letter-spacing: .8px;
}

.footer-about .social-media a{
    color:white;
}

.footer-about .social-media a:not(:first-child){
    margin-left:10px;
}

.footer-about .social-media a:hover{
    color:#437c8a;
}

.footer-about,.footer-info,
.footer-account,.footer-letter{
    color: white;
}

.footer-info h3,
.footer-account h3,
.footer-info ul,
.footer-account ul{
    padding-left: 4rem;
}

.footer-info a , .footer-account a{
    color:white;
    font-size: 1.2rem;
    word-spacing: 1px;
    letter-spacing: .8px;
}

.footer-info a:hover , .footer-account a:hover{
    color: #437c8a;
}

.footer-letter form input{
    display:block;
    width: 90%;
    margin-bottom:20px;
    height:40px;
    padding-left: 15px;
    color: white;
    background:none;
    outline: none;
    letter-spacing: 1px;
    word-spacing: 1px;
    border-radius: 0;
}

.footer-letter form input:focus{
    background:none;
    box-shadow: none;
    font-weight: bold;
}

.footer-letter form input::placeholder{
    word-spacing: 1px;
    letter-spacing: 1px;
    color:#437c8a;
}

.footer-letter form button{
    width:140px;
    height:45px;
    font-size:1.2rem;
    background:#437c8a;
    border: none;
    color: white;
}

.footer-letter form button:hover{
    background:unset;
    border:1px solid #437c8a;
    color: #437c8a;
}

.footer-bar{
    background:#041b20;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 1.2rem;
    padding: 1.5rem 0 ;
}

.bar-content{
    justify-content: space-between;
}

.footer-bar p{
    word-spacing: 1.5px;
    letter-spacing: .6px;
    margin: 0;
    align-self: center;
    width: 60%;
}

.footer-bar img{
    width:30%;
}

.footer-bar p i{
    color: red;
}

.footer-bar a{
    margin-left: 10px;
    color:#437c8a;
    font-weight: bold;
}

.footer-bar a:hover{
    color: white;
}

@media (max-width: 767px) {
    .footer{
        padding: 50px 0;
    }

    .footer-content h3{
        margin-bottom: 20px;
    }

    .footer-bar p{
        text-align: center;
        margin-bottom: 20px;
        font-size: 1rem;
        width: 100%;
    }

    .footer-bar img{
        width: 70%;
        margin: auto;
    }

}

@media (max-width:991px) {
    .footer-info h3,
    .footer-account h3,
    .footer-info ul,
    .footer-account ul{
        padding-left: 0;
    }

    .footer-about,.footer-info,
    .footer-account{
        margin-bottom: 40px;
    }
}